.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;  /* Conteúdo cortado dps de passar o limite do elemento */
    padding-left: 30px; 
}

.movieRow--list {
    width: 99999px;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;  /* Suavizar animação */
}

.movieRow--item img:hover {
    width: 100%;
    transform: scale(1);
}